@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hamburger div:first-child {
        @apply rotate-45 translate-y-1.5;
    }

    .hamburger div:last-child {
        @apply -rotate-45 -translate-y-1;
    }

    .clip-path-cards {

        clip-path: polygon(0 0, 100% 0, 100% 66%, 76% 88%, 23% 88%, 0 65%);

    }

    .hiddenIO {
        scale: (0.8);
        opacity: 0;
        transition: all 1s ease-in-out;
        transform: translateY(+40px);
    }

    .showIO {
        scale: (1);
        opacity: 1;
        transition: all 1s ease-in-out;
        transform: translateY(0px);
    }
    .inputClass{
        @apply text-center 
        w-full 
        h-12 
        text-white 
        font-bold 
        border-b-[0.4px] 
        border-b-cyan-200 
        bg-transparent 
        outline-none 
        outline-dashed 
        focus:outline-white/10; 
    }
    
}